:root {
    --md-primary-fg-color:        #00467F;
    --md-primary-fg-color--light: #009AC7;
    --md-primary-fg-color--dark:  #333333;
    /* --md-primary-bg-color:        #00467F; */
  }

  [data-md-toggle="search"]:not(:checked) ~ .md-header .md-search__form::after {
    position: absolute;
    top: .3rem;
    right: .3rem;
    display: block;
    padding: .1rem .4rem;
    color: var(--md-default-bg-color);
    font-weight: bold;
    font-size: .8rem;
    border: .05rem solid var(--md-default-bg-color--lighter);
    border-radius: .1rem;
    content: "/";
  }
  
ul.md-source__facts {
  display: none;
}

label.md-nav__title {
  display: none;
}

.md-nav__item .md-nav__link--active, .md-nav__item .md-nav__link--active code {
  border-left: solid 15px var(--md-accent-fg-color);
  padding-left: 15px;
}
/* this works partially, e.g. this one http://localhost:8005/cer-documentation/Research%20Compute/UoAResearchVM%20Farm/
but not on that one http://localhost:8005/cer-documentation/projects/existingVMHandbook/acknowledgement/ */
